* {
	font-family: Calibri;
}
body{
	background-color: #fffff;
	font-size: 10pt;
	margin: auto;
	width: 90%;
}

h1{
	text-align: center;
}
h2{
	margin: 0;
}

ul li{
	list-style-type:none;
	page-break-inside:avoid;
}
div{
	page-break-inside: avoid;
}

table{
	margin-left: auto;
	margin-right: auto;
}

#checklist{
	column-count: 2;
    	-moz-column-count: 2;
	-webkit-column-count: 2;
	margin-top: 25px;
}

#generalTab #postageTab #dataProcessing #Merge #lettershopFulfillment #print #foreign #warehouse #woReview #samples{
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
}


#nav{
	display: none;
}

.classSections{
	-webkit-padding-start: 0;
    	-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
}
