* {
	font-family: Calibri;
}
body{
	background-color: #FFFFF0;
	font-size: 11pt;
	margin: auto;
	width: 90%;
}

h1{
	text-align: center;
}
h2{
	margin: 0;
}

ul li{
	list-style-type:none;
	page-break-inside:avoid;
}

table{
	margin-left: auto;
	margin-right: auto;
}

#checklist{
	column-count: 2;
    	-moz-column-count: 2;
	-webkit-column-count: 2;
	margin-top: 25px;
}

.generalTab{
	break-inside: avoid;
}
.postageTab{
	break-inside: avoid;
}
.dataProcessing{
	break-inside: avoid;
}
.lettershopFulfillment{
	break-inside: avoid;
}
.print{
	break-inside: avoid;
}
.foreign{
	break-inside: avoid;
}
.warehouse{
	break-inside: avoid;
}
.woReview{
	break-inside: avoid;
}
.samples{
	break-inside: avoid;
}	

.components{
	column-count: 3;
    	-moz-column-count: 3;
	-webkit-column-count: 3;
}

.classSections{
	-webkit-padding-start: 0;
    	-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
}


