* {
	font-family: Calibri;
}
body{
	background-color: #fff8dc;
	font-size: 12pt;
	margin: auto;
	width: 90%;
}

ul li{
	list-style-type:none;
}

#checklist{
	column-count: 2;
    	-moz-column-count: 2;
	-webkit-column-count: 2;
}
	
