* {
	font-family: Calibri;
}
body{
	background-color: #fff8dc;
	font-size: 11pt;
	margin: auto;
	width: 90%;
}

h1{
	text-align: center;
}
h2{
	margin: 0;
}

ul li{
	list-style-type:none;
}

table{
	margin-left: auto;
	margin-right: auto;
}

#checklist{
	column-count: 2;
    	-moz-column-count: 2;
	-webkit-column-count: 2;
}

#nav{
	border-style: none none solid none;
	column-count: 4;
    	-moz-column-count: 4;
	-webkit-column-count: 4;	
}

.classSections{
	-webkit-padding-start: 0;
    	-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
}


